<h3 class="page-header">热用户基本信息</h3>

<div class="row">
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">片区信息</div>
        <div class="panel-body">
          <div id="treeDemo" class="ztree">
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-9">
    <%= render 'users' %>
  </div>
</div>

