<table id="code_troubleshooting_table" data-source="<%= cty_lists_url(ttid: 1, format: :json) %>" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>编号</th>
      <th>故障名称</th>
      <th>故障编码</th>
      <th>处理意见</th>
      <th>排序码</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>