<table id="maintenance_table" data-source="<%= mlist_url(customerid: @customer.id,format: :json) %>" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>ID</th>
      <th>运维队伍</th>
      <th>运维人员</th>
      <th>运维时间</th>
      <th>表具运行状态</th>
      <th>现场热值(kWh)</th>
      <th>备注</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
