<table id="meterchanging_table" data-source="<%= meterchanginglist_url(customerid: @customer.id,format: :json) %>" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>ID</th>
      <th>运维队伍</th>
      <th>运维人员</th>
      <th>变更时间</th>
      <th>原表号</th>
      <th>原底数</th>
      <th>现表号</th>
      <th>现底数</th>
      <th>备注</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

