<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li><a href="#">业务管理</a></li>
  <li class="active">热用户基本信息</li>
</ol>

<div class="row">
  <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">片区信息</div>
        <div class="panel-body">
          <div id="treeDemo" class="ztree">
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">用户信息<lable id="DataLabel"></lable></div>
      <div class="panel-body">
        <%= render 'users' %>
        <div>
          <%= link_to "新增用户", new_customer_path, id: "newcustomer_lable", data: {}, remote: true %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'dialog' %>