<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
</ol>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">运维工单一栏</div>
      </div>
      <div class="panel-body">
      </div>
    </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">运维工单一栏</div>
      </div>
      <div class="panel-body">
      </div>
  </div>

</div>