/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */


@import "zTreeStyle";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.header .navbar-brand b {
  color: #1D966B;
}

body {
	background: #E7EAEC;
	font-size: 13px;
	
  /*background: #e9e9e9 url(../images/base/tiny_grid.png) repeat 0 0;*/
/*  font: 13px/1.7em 'Microsoft Yahei';
  font-family: "微软雅黑";
  height: 100%;*/
}




/*.treeDemo {
	font-size: 18px;
}
*/