<table id="community_table" data-source="<%= distrcits_url(cid: 0, format: :json) %>" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>编码</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>