<table id="community_table" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>编码</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>