<table id="community_table" data-source="<%= customer_index_url(cc: 5, cd: 2, format: :json) %>" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>编码</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>